<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<polymer-element name='pi-home-page'>

  <template>
    <h1>Welcome to Pi thinggie</h1>
    <div class="name-container">
      <paper-input-decorator class="bright" label="Your Name Here">
        <input is='core-input'  value="{{name}}" placehoder="Enter your name"></input>
      </paper-input-decorator>
    </div>
    <paper-button raised on-click={{startGame}}>Start Game</button>

    <style>
      .name-container {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        padding: 1em;
      }
      
      .bright {
        color: #fff;
        margin: 1em 0;
        padding: 0;
      }

      .bright /deep/ #placeholder {
        color: #fff;
      }

      .bright /deep/ .unfocused-underline {
        background-color: #fff;
      }
      .bright /deep/ .focused-underline {
        background-color: #ff0;
      }
    </style>

  </template>

  <script>
    Polymer({
      startGame:function(){
        this.fire("start-game", this.name)
      }
    })
  </script>

</polymer-element>
