<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<polymer-element name='pi-home-page'>

  <template>
    <section id='content'>
      <h1>Welcome to the game of PI</h1>
      <div class="name-container">
        <paper-input-decorator class="bright" label="Your Name Here">
          <input is='core-input'  value="{{name}}" placehoder="Enter your name"></input>
        </paper-input-decorator>
      </div>
      <paper-button raised on-tap={{startGame}}>Start Game</button>
    </section>
    <style>

      :host{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding:0px;
        margin:0px;
      }
      #content{
        width: 40%;

      }
      .name-container {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        padding: 1em;
        margin-bottom:20px;
      }

      .bright {
        color: #fff;
        margin: 1em 0;
        padding: 0;
      }

      .bright /deep/ #placeholder {
        color: #fff;
      }

      .bright /deep/ .unfocused-underline {
        background-color: #fff;
      }
      .bright /deep/ .focused-underline {
        background-color: #ff0;
      }
    </style>

  </template>

  <script>
    Polymer({
      startGame:function(){
        this.fire("start-game", this.name)
      }
    })
  </script>

</polymer-element>
