<link rel="import" href="../bower_components/polymer/polymer.html" attributes='router'>
<link rel="import" href="../bower_components/firebase-element/firebase-element.html" attributes='router'>
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<polymer-element name='pi-leaderboard' attributes="editable">

  <template>
    <div layout vertical center>
      <h1>Leaderboard</h1>

      <ul>
        <template repeat="{{entry, index in sortedEntries}}">
          <li>{{index+1}}: {{entry.data.name}}  {{entry.data.score}}
            <template if="{{editable}}">
              <a href='#' data-name={{entry.key}} on-tap={{removeName}}>remove</a>
            </template>
          </li>
        </template>
      </ul>

      <p>

        <paper-button raised on-tap={{goHome}}>Back to Home</button>
        <template if="{{editable}}">
          <a href='#' on-tap={{removeAll}}>Clear all</a>
        </template>
      </p>

    </div>
    <firebase-element id='leader_remote'
                      childEvents
                      orderByChild="score"
                      location="https://vivid-fire-5472.firebaseio.com/leaderboard"
                      data="{{entries}}"
                      keys="{{keys}}"
                      on-child-added="{{childAdded}}"
                      >
    </firebase-element>

    <style>
      a {
        color: #fff;
      }
      ul{
        text-align:center
        padding : 0px;
        margin: 0px;
        list-style: none;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
      }
      li{
        padding : 0px;
        margin: 0px
        list-style:none;
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 3s;
      }

      @-webkit-keyframes fadeIn {
        from {color: red; opacity:0.2;}
        to {color:white, opacity:1;}
      }
    </style>

  </template>

  <script>
    Polymer({
      editable:false,
      sortedEntries: [],
      keys:[],
      removeAll:function(event, detail, target){
        event.preventDefault()
        this.$.leader_remote.keys.forEach(function(key){
          this.$.leader_remote.remove(key)
        }.bind(this))
      },
      removeName:function(event, detail, target){
        event.preventDefault()
        var key = target.getAttribute("data-name")
        this.$.leader_remote.remove(key)
      },
      childAdded:function(){
        this.entriesChanged()
      },
      entriesChanged:function(){
        this.sortedEntries = []
        this.keys.forEach(function(key){
          this.sortedEntries.push({key:key, data: this.entries[key]})
        }.bind(this))
        this.sortedEntries = this.sortedEntries.sort(function(a,b){ return a.data.score < b.data.score})
      },

      goHome:function(){
        this.router.go("/")
      }

    })
  </script>

</polymer-element>
